<nav class="sidebar">
    <ul>
        <li routerLink="/dashboard/all-items" routerLinkActive="active">Todos los elementos</li>
        <li routerLink="/dashboard/passwords" routerLinkActive="active">Contraseñas</li>
        <li routerLink="/dashboard/notes" routerLinkActive="active">Notas</li>
        <li routerLink="/dashboard/folders" routerLinkActive="active">Carpetas</li>
        <li routerLink="/dashboard/profile" routerLinkActive="active">Perfil</li>
        <li (click)="logout()">Cerrar sesión</li>
    </ul>
</nav>